<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel=favicon href="../static/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Lista de Cultivos</title>
</head>
<body>
    <h1>Lista de Cultivos</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo de Planta</th>
            <th>Fecha de Siembra</th>
            <th>Zona</th>
        </tr>
        <tr th:each="cultivo : ${cultivos}">
            <td th:text="${cultivo.id}">1</td>
            <td th:text="${cultivo.nombre}">Nombre</td>
            <td th:text="${cultivo.tipoPlanta}">Tipo de Planta</td>
            <td th:text="${cultivo.fechaSiembra}">Fecha</td>
            <td th:text="${cultivo.zona}">Zona</td>
        </tr>
    </table>
    <a th:href="@{/cultivos/nuevo}">Agregar Nuevo Cultivo</a>
</body>
</html>
